a {
  color: black;
  font-size: 20px;
}
.header {
    position: relative;
    text-align: center;
}
.header a.home {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}
p{
  margin-left: 150px
}
form{
  margin-left: 150px
}
