{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

<h2>Portfolio</h2>

<table class = "table table-bordered table-striped">
    <thead class = "thead-light">
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
    {% for x in portfolio %}
        <tr>
            <td>{{ x.symbol }}</td>
            <td>{{ x.shares }}</td>
            <td>{{x.price}}</td>
            <td>{{x.total}}</td>
        </tr>
    {% endfor %}
        <tr>
            <td colspan = "4" >Cash</td>
            <td>{{cash}}</td>
        </tr>
        <tr>
            <td colspan = "4" >TOTAL</td>
            <td>{{total}}</td>
        </tr>

    </tbody>
</table>

{% endblock %}
